* {
  margin: 0;
}


body {
  background-color: #f5f6fa;
  overflow:hidden;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
  min-height: calc(100vh - 40px);
}

.app__left {
  flex: 0.9;
}
/*app header styles*/
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.note{
  font-style: italic;
  margin: 10px 0;
}

/*app__stat styles*/

.app__stat {
  display: flex;
  flex-direction: row;
}

/*app__right*/
.app__information > h3,
#title_header, .graph-header {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.app__right__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#title_header{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.graph-header{
  padding: 20px 0;
  text-transform: capitalize;
}
@media (max-width: 900px) {
  .app {
    display: flex;
    flex-direction: column;
  }

  .app__left {
    padding-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .app__stat {
    flex-direction: column;
  }
}
